@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

@media(max-width:575px){
    #QS{display: none;}
}

body {
    background-color: gray;
}
h2 {
    color: white;
    font-weight: 700;

}
.img-navbar {
    object-fit: contain;
    width: 2rem;
}
.carousel {
    top:0rem;
}
.carousel-inner {
    width: 100%; 
    overflow: hidden;
    }
.linea-t {
    border-bottom: 3px solid;
    columns: 2;
    color: #1BAFBF
}
i {
    color: white;
}
h4 {
    color: white;
    font-weight: 400;
}
.color-navbar{
    background-color: #1BAFBF;
    transition:0.75s ease;
}